$color-primary: #053667;
$color-green: #32d483;
$color-blue: #0e77ff;
$color-blue-dark: #022e5a;
$color-orange: #fc780b;
$color-gray: #dddfe5;
$color-modal-bg: #f2f5fb;
$color-section-bg: #F4F6FC;
$color-border: #E9E9E9;
$color-gradient-orange: repeating-linear-gradient(-45deg, #ffa202, #ffa202 3px, #ffb537 4px, #ffb537 5px);
$color-gradient-blue: repeating-linear-gradient(-45deg, #0e77ff, #0e77ff 3px, #328cff 4px, #328cff 5px);
$color-gradient-green: repeating-linear-gradient(-45deg, #32d483, #32d483 3px, #22e177 5px, #22e177 6px);

$header-height: 80px;

$index-header: 50;
$index-backdrop: 100;
$index-mobile-menu: 110;

$menu-animation-duration: 0.3s;